.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* --------------------header starts-------------------- */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
}
.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0 0 0 64px;
  z-index: 2;
}
.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}
.logo {
  width: 228px;
  height: 32px;
  background-size: 228px 32px;
}
.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  position: static;
  z-index: 2;
}
/* --------------------description starts-------------------- */
.description {
  display: flex;
  justify-content: center;
  padding: 100px 0 0 0;
}
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-colums__brief {
  color: #2f80ed;
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-colums__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-colums__paragraph {
  margin: 0;
}
.two-colums__paragraph:nth-child(2) {
  margin: 30px 0 30px 0;
}
.two-colums__span-accent {
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}
/* --------------------digits starts--------------------*/
.digits {
  padding: 100px 0 100px 0;
}
.section-title {
  padding: 0;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-title_theme_dark {
  width: 60%;
  color: white;
}
.section-subtitle {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}
.section-subtitle_theme_dark {
  color: white;
  width: 60%;
}
.table {
  margin: auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
.table_theme_dark {
  color: white;
}
.table__cell {
  width: 250px;
  padding: 0;
  margin: 60px 0 0 0;
}
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}
/* --------------------feynman starts-------------------- */
.feynman {
  min-height: 890px;
  background: no-repeat left bottom url('../images/feynman.png'), #f2f2f2;
  background-size: 867px 637px;
  position: relative;
}
.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  padding-top: 100px;
  width: 648px;
  margin: 0 auto;
  text-align: center;
}
.feynman__subtitle {
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
/* --------------------kaufman starts-------------------- */
.kaufman {
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  padding: 0;
  z-index: -1;
}
/* --------------------footer starts-------------------- */
.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  min-height: 350px;
  box-sizing: border-box;
}
.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__author {
  margin: 18px 0 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
  margin: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer__social-icon {
  margin: 0px 10px 0 0;
  width: 16px;
  height: 16px;
}
